/*
Några färger tagna med pipettverktyg från bilderna
Brun-orange (Från husväggar): ​ 7b3a10
, ​ da8f29
.
Blått (Tak och hav): ​ 323755
, ​ 6e8aa0
, ​ 55708e
Gråvitt (Båtar och stenar): ​ f7e5d1
, ​ fffefa
Grönt (Träd och gräs):​ 406700
, b3b106
, ​ 8c9401
.
,
*/
.comment {
  color: red;
}

:root {
  --blue3: #323755;
  --blue2: #6e8aa0;
  --blue1: #55708e;
  --brown1: #7b3a10;
  --brown2: #da8f29;
  --white1: #f7e5d1;
  --white2: #fffefa;
  --green1: #406700;
  --green2: #b3b106;
  --green3: #8c9401;
}

body {
  background-color: var(--white1);
}

h1,
h2,
h3,
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

p {
  margin: 5px;
}

td {
  min-width: 100px;
}

/* for the weather app*/
td > p {
  display: inline-block;
}

svg {
  display: inline;
  transform-origin: center;
}

picture {
  width: 100%;
}
img {
  max-width: 100%;
  margin: auto;
  display: block;
}

ul {
  list-style-type: disc;
}

dt {
  font-weight: 600;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}
dd {
  display: block;
  margin-inline-start: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  border-radius: 5px;
}

header {
  width: 100%;
  background-color: var(--blue2);
  height: 20vh;
}

.content-container {
  display: flex;
  width: 100%;
}

.left-side {
  width: 20%;
  min-height: 200px;
  height: fit-content;
  max-width: 150px;
  background-color: var(--blue1);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

footer {
  position: absolute;
  bottom: 0;
}

nav {
  width: 100%;
  height: fit-content;
}
nav ul {
  height: fit-content;
  text-decoration: none;
}

nav ul li {
  background-color: var(--blue1);
  border-bottom: 1px solid #fffefa;
  color: yellow;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav ul li:hover {
  background-color: var(--blue2);
}

main {
  width: 60%;
  flex-grow: 1;
  background-color: var(--white2);
  border: 1px solid var(--brown1);
  border-radius: 5px;
  padding: 20px;
}

.side-widget,
.widget {
  width: 20%;
  border: 1px solid var(--green1);
  background-color: var(--green3);
  border-radius: 5px;
  max-height: 300px;
  display: none;
}

nav a {
  text-decoration: none;
}
