/*
Några färger tagna med pipettverktyg från bilderna
Brun-orange (Från husväggar): ​ 7b3a10
, ​ da8f29
.
Blått (Tak och hav): ​ 323755
, ​ 6e8aa0
, ​ 55708e
Gråvitt (Båtar och stenar): ​ f7e5d1
, ​ fffefa
Grönt (Träd och gräs):​ 406700
, b3b106
, ​ 8c9401
.
,
*/
.comment {
  color: red;
}

:root {
  --blue3: #323755;
  --blue2: #6e8aa0;
  --blue1: #55708e;
  --blue4: #a1bedf;
  --brown1: #7b3a10;
  --brown2: #eead51;
  --white1: #f7e5d1;
  --white2: #fffefa;
  --green1: #406700;
  --green2: #b3b106;
  --green3: #8c9401;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--white1);
  font-size: 
}

h1,
h2,
h3,
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem; 
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0.5rem;
  line-height: 1.2rem;
  font-size: 1.1rem;
  /* margin-bottom: ; */
}

td {
  min-width: 100px;
}

/* for the weather app*/
td > p {
  display: inline-block;
}

svg {
  display: inline;
  transform-origin: center;
}

picture {
  width: 100%;
}
img {
  max-width: 100%;
  margin: auto;
  display: block;
}

ul {
  list-style-type: disc;
}

dt {
  font-weight: 600;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}
dd {
  display: block;
  margin-inline-start: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  

}

form fieldset {
  border: 1px solid var(--brown1);
  border-radius: 0.3rem;
  padding: 1rem;
  margin: auto;
  width: 100%
  max-width: 500px;
}

form textarea {
  height: 5rem;
}

label {
  /* margin-top: 0.5rem; */
  vertical-align: top;
  display: block;
}

.container {
  max-width: 900px;
  margin: auto;
  border-radius: 5px;
}

header {
  position: relative;
  width: 100%;
  background-color: var(--blue2);
  height: 20vh;
  /*Sjöbodar och lite vatten*/
  background-image: url(/bilder/D-12.jpg); 
  background-position: 50% 58%;

  /* klippa
  background-image: url(/bilder/D-13.jpg);
  background-position: 50% 80%;   */
  /* Livboj */
  background-image: url(/bilder/D-15.jpg);
  background-position: 50% 43%; 

  background-size: cover;
  /* text-align-last: center;  */

}

header h1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: var(--white1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

.content-container {
  display: flex;
  width: 100%;
}

.left-side {
  width: 20%;
  min-height: 200px;
  height: fit-content;
  max-width: 150px;
  background-color: var(--brown1);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

footer {
  bottom: 0;
}

footer p {
  font-size: 0.8rem;
  color: var(--white1);
}

nav {
  width: 100%;
  height: fit-content;
}
nav ul {
  height: fit-content;
  text-decoration: none;
  /* border-radius: 0.3rem; */

}

nav ul li {
  background-color: var(--brown1);
  border-bottom: 1px solid #fffefa;
  color: var(--white1);
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  /* border-radius: 0.3rem; */
}

nav ul li:hover {
  background-color: var(--blue2);
}

main {
  width: 60%;
  flex-grow: 1;
  background-color: var(--white2);
  border: 2px solid var(--brown1);
  border-radius: 5px;
  padding: 20px;
}

.side-widget {
  width: 20%;
  border: 2px solid var(--blue3);
  background-color: var(--blue2);
  border-radius: 2rem;
  max-height: 300px;
  /* display: none; */
}

.side-widget {
  display: none;
}

.widget {
  width: 400px;
  background-color: skyblue;
  border: 1px solid var(--brown1);
  border-radius 5px;
  margin: auto;
  padding: 5px;
}

.widget td {
  text-align: center;
}

figure {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
figure figcaption {
  margin: 1rem;
  font-style: italic;
}

nav a {
  text-decoration: none;
}



/* Formuläret */
#contact-form {
  width: 100%;
}
.skicka-knapp {
  width: 100%;
  background-color: var(--blue1);
  color: var(--white1); 
  font-size: 1.5rem;
  padding: 0.3rem;
}

.skicka-knapp:hover {
  background-color: var(--blue2);
}
form p {
  box-sizing: border-box;
}

form input, form textarea, form select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid var(--blue3);
}

form legend {
  font-size: 2rem;
  font-weight: bold;
  /* display: none; */
}

select {
  width: 100%;
  height: 1.5rem;
  background-color: var(--white2);
  margin-top: 0.3rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  .side-widget {
    display: block;
  }

  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 700px) {
  .left-side {
    display: none;
  }
}
