/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media screen and (max-width: 600px) {

  .h2 {
    content: "Medlems-information";
  }

  .medlemslista{
    width: 80%%;
  }

	/* Force table to not be like tables anymore */
	.medlemslista table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.medlemslista thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	/* .medlemslista tr { border: 1px solid #ccc; } */
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid black; 
		/* position: relative; */
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		/* position: relative; */
		/* Top/left values mimic padding */
		/* top: 6px; */
		left: 6px;
    width: 200px;
    min-width: 150px;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Förnamn:"; }
	td:nth-of-type(2):before { content: "Efternamn:"; }
	td:nth-of-type(3):before { content: "Epost:"; }
	td:nth-of-type(4):before { content: "Telefon:"; }