/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

/* Längre rubrik på stor skärm */
.sm-view {
  display: none;
}

#password-check-btn {
  background-color: var(--blue1);
  color: var(--white1);
  font-size: 1rem;
  padding: 0.3rem;
  margin-top: 0.4rem;
  border-radius: 5px;
}

#password-check-btn:hover {
  background-color: var(--blue2);
}

@media screen and (max-width: 600px) {
  /* Kortare rubrik på mindre skärm */
  .sm-view {
    display: block;
  }

  .st-view {
    display: none;
  }

  .h2 {
    content: "Medlems-information";
  }

  .medlemslista {
    width: 80%;
  }

  /* Force table to not be like tables anymore */
  .medlemslista table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .medlemslista thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid black;
    padding-left: 50%;
  }

  td:before {
    left: 6px;
    width: 5rem;
    min-width: 5rem;
    padding-right: 10px;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Förnamn:";
  }
  td:nth-of-type(2):before {
    content: "Efternamn:";
  }
  td:nth-of-type(3):before {
    content: "Epost:";
  }
  td:nth-of-type(4):before {
    content: "Telefon:";
  }
}
