.widget h3 {
  color: black;
}

.widget > table > :nth-child(even) {
  background-color: var(--blue1);
}

.widget > table > :nth-child(3) {
  background-color: var(--blue2);
}

.widget tbody {
  border: 3px solid white;
}

.widget td {
  text-align: center;
  border-bottom: 2px solid white;
  color: var(--white2);
  font-family: sans-serif;
}

.widget th {
  font-family: Caveat;
  font-size: 1.3rem;
  color: var(--blue1);
  border-bottom: 2px solid white;
}

.widget h2 {
  color: var(--blue1);
  margin: auto;
  font-family: Caveat, sans-serif;
  font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
  .widget {
    min-width: 0;
    width: fit-content;
  }

  .widget td,
  .widget th {
    width: fit-content;
    padding: 3px;
    font-size: 1rem;
    min-width: 20px;
  }
}
